body{
    background-color: grey
}


.nav {
    font-weight: bold;
    font-size: 14px;
    color: white;
}

.card-title {
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}

.card {
    margin: 0 auto;
    margin-left: 200px;
    margin-right: 100px;
    float: relative;
    color: teal;
    background-color: white;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

/* Small Devices Tablets, etc */
@media(max-width: 768px) {

}
/* Medium Devices Desktops, etc */
@media(max-width: 992px) {

}
/* Large Devices Large desktops, etc */
 @media(max-width: 1200px) {

}