.container {
    background-color: #e6e6ff;
    margin: auto;
    padding: 20px;
    border-radius: 40px; /*forms the round edges of this box*/
    box-shadow: 0px 0px 40px 0px rgb(11, 11, 17); /*a faint blue shadow will appear behind the box for stylistic purposes*/
    position: relative;
}

 #max-temp {
    display: none;
} 
#humidity {
    display: none;
}
#cloudiness {
    display: none;
}
#wind-speed {
    display: none;
}
#comparisons-page {
    display: none;
}
#data-page {
    display: none;
} 
/* Small Devices Tablets, etc */
@media(max-width: 768px) {

}
/* Medium Devices Desktops, etc */
@media(max-width: 992px) {

}
/* Large Devices Large desktops, etc */
 @media(max-width: 1200px) {

}